.footer {
  color: #FFFFFF;
  margin-top: 8px;
  z-index: 1000;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  position: fixed;
  bottom: 26px;
}

.footer.footer-mobile {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 100%;
  left: auto;
  margin-left: 0;
}

.footer p {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  margin: 0;
  font-size: 10px;
  line-height: 16px;
}
